@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 400;
    src: url('../public/fonts/IRANSansWeb.woff2');
}

@font-face {
    font-family: 'IRANSansBold';
    font-style: normal;
    font-weight: 700;
    src: url('../public/fonts/IRANSansWeb_Bold.woff2');
}

@font-face {
    font-family: 'SnapWeb';
    font-style: normal;
    font-weight: 400;
    src: url('../public/fonts/SnappWeb2.0-Regular.woff');
}

@font-face {
    font-family: 'SnapWebBold';
    font-style: normal;
    font-weight: 700;
    src: url('../public/fonts/SnappWeb2.0-Bold.woff');
}

html {
    direction: rtl;
    scroll-behavior: smooth;
    line-height: 1.15;
}

a {
    background-color: transparent;
}

.header-animation {
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: none;
}

@media (min-width: 600px) {
    .header-address-span {
        max-width: calc(-85px + 57vw);
    }

    .header-orders-modal {
        min-width: 18.75rem;
    }

    .category-mainPage {
        max-width: 33.3333%;
        flex-basis: 33.3333%;
    }

    .cities-mainPage {
        max-width: 25%;
        flex-basis: 25%;
    }

    .aside-resPage {
        flex-basis: 41.6667%;
        max-width: 41.6667%;
    }

    .padding-size {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}

@media (min-width: 960px) {
    .header-address-span {
        min-width: 9.375rem;
        max-width: calc(-85px + 24vw);
    }

    .header-orders-modal {
        min-width: 25rem;
    }

    .header-searchBox {
        right: 0;
        margin: auto;
        width: 29vw;
        background-color: rgb(235, 237, 240);
    }

    .category-mainPage {
        max-width: 25%;
        flex-basis: 25%;
    }

    .cities-mainPage {
        max-width: 16.6667%;
        flex-basis: 16.6667%;
    }

    .padding-size {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
}

@media (min-width: 1280px) {
    .category-mainPage {
        max-width: 16.6667%;
        flex-basis: 16.6667%;
    }

    .cities-mainPage {
        max-width: 8.33333%;
        flex-basis: 8.33333%;
    }

    .aside-resPage {
        flex-basis: 25%;
        max-width: 25%;
    }
}

/* used in SupportButton component */
.transition-spport {
    transition: transform 0.3s ease-in 0s;
}

/* used in CategorySection component */
.parent:hover .child {
    transform: translateX(-0.125rem);
}

/* used in Address component*/
.section > :last-child {
    margin-bottom: 0;
}

/* used in slider section */
.slidersCategories-transition {
    transition: opacity 0.7s cubic-bezier(0.5, 0, 0, 1) 0s;
}

.slidersCategories-transform {
    transform: translate3d(0px, 0px, 0px);
}

.restaurantSections-button-transition {
    transition: all 500ms ease-in-out 0s;
}

/* used in FoodParty component */
.foodParty-gradiant {
    background: radial-gradient(100% 303.06% at 0% 0%, #f69 0%, #e02291 100%);
}
.foodParty-radius {
    border-radius: 0.25rem 0.25rem 7.5rem;
}

/* used in ResFilter component */
.span::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    transition: all 0.2s ease 0s;
    left: 1rem;
    width: 1.25rem;
    height: 1.25rem;
}

/*Modal animations*/
.modal-card-animation {
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: gilGRO;
}

@keyframes gilGRO {
    from {
        background-color: transparent;
    }
    to {
        background-color: #40404066;
    }
}

.address-modal-card-animation {
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.4, 0, 0, 1.5);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: cdxymQ
}

@keyframes cdxymQ {
    from {
        transform: translate3d(0px, -2rem, 0px);
    }
    to {
        transform: translateZ(0px);
    }
}

.search-modal-card-animation {
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.4, 0, 0, 1.5);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: bcuNYl
}

@keyframes bcuNYl {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.orders-modal-card-animation {
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.4, 0, 0, 1.5);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: hmqzdU
}

@keyframes hmqzdU {
    from {
        transform: translate3d(-2rem, 0px, 0px);
    }
    to {
        transform: translateZ(0px);
    }
}

.support-modal-card-animation {
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.4, 0, 0, 1.5);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: hpUaqz
}

@keyframes hpUaqz {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.support-modal-card-animation2 {
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.4, 0, 0, 1.5);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: hpUaqz2
}

@keyframes hpUaqz2 {
    from{
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

/* scrollbar */
::-webkit-scrollbar {
    width: 14px;
    background-color: #f4f4f4;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    background-color: #0000;
    border-radius: 7px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border: 3px solid #fff;
    border-radius: 16px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
    border: 3px solid #f4f4f4;
}
::-webkit-scrollbar-track:hover {
    background-color: #f4f4f4;
}