@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --sf-scales-default: 1rem;
    --sf-scales-caption: 0.75rem;
    --sf-scales-xlarge: 1.5rem;
    --sf-scales-xxlarge: 1.75rem;
    --sf-scales-large: 1.125rem;
    --sf-scales-body: 0.875rem;
    --sf-scales-tiny: 0.625rem;
    --sf-lineHeight-default: 1.5rem;
    --sf-lineHeight-caption: 1rem;
    --sf-lineHeight-xlarge: 2rem;
    --sf-lineHeight-xxlarge: 2.25rem;
    --sf-lineHeight-large: 1.75rem;
    --sf-lineHeight-body: 1.25rem;
    --sf-lineHeight-tiny: 0.75rem;
    --sf-weight-bold: 700;
    --sf-weight-regular: 500;
    --sf-weight-normal: 400;
    --sf-weight-light: 300;
    --sf-spacing-0: 0rem;
    --sf-spacing-1: 0.5rem;
    --sf-spacing-2: 1rem;
    --sf-spacing-3: 1.5rem;
    --sf-spacing-4: 2rem;
    --sf-spacing-5: 2.5rem;
    --sf-spacing-6: 3rem;
    --sf-spacing-7: 3.5rem;
    --sf-spacing-8: 4rem;
    --sf-spacing-9: 4.5rem;
    --sf-spacing-10: 5rem;
    --sf-breakpoints-xs: 0px;
    --sf-breakpoints-sm: 600px;
    --sf-breakpoints-md: 960px;
    --sf-breakpoints-lg: 1280px;
    --sf-breakpoints-xl: 1920px;
    --sf-borders-xs: 0.09375rem;
    --sf-borders-md: 0.1875rem;
    --sf-borders-lg: 0.375rem;
    /*--sf-gradients-party: (e="#FC5F99",t="#E12492")=>`radial-gradient(100% 303.06% at 0% 0%,${t} 0%,${e} 100%)`;*/
}

@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 400;
    src: url('../public/fonts/IRANSansWeb.woff2');
}

@font-face {
    font-family: 'IRANSansBold';
    font-style: normal;
    font-weight: 700;
    src: url('../public/fonts/IRANSansWeb_Bold.woff2');
}

@font-face {
    font-family: 'SnapWeb';
    font-style: normal;
    font-weight: 400;
    src: url('../public/fonts/SnappWeb2.0-Regular.woff');
}

@font-face {
    font-family: 'SnapWebBold';
    font-style: normal;
    font-weight: 700;
    src: url('../public/fonts/SnappWeb2.0-Bold.woff');
}

html {
    direction: rtl;
    scroll-behavior: smooth;
    line-height: 1.15;
    overflow: auto;
}

a {
    background-color: transparent;
}


@media (min-width: 600px) {
    .header-address-span {
        max-width: calc(-85px + 57vw);
    }

    .category-mainPage {
        max-width: 33.3333%;
        flex-basis: 33.3333%;
    }

    .cities-mainPage {
        max-width: 25%;
        flex-basis: 25%;
    }

    .padding-size {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}

@media (min-width: 960px) {
    .header-address-span {
        min-width: 9.375rem;
        max-width: calc(-85px + 24vw);
    }

    .header-searchBox {
        right: 0;
        margin: auto;
        width: 29vw;
        background-color: rgb(235, 237, 240);
    }

    .category-mainPage {
        max-width: 25%;
        flex-basis: 25%;
    }

    .cities-mainPage {
        max-width: 16.6667%;
        flex-basis: 16.6667%;
    }

    .padding-size {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
}

@media (min-width: 1280px) {
    .category-mainPage {
        max-width: 16.6667%;
        flex-basis: 16.6667%;
    }

    .cities-mainPage {
        max-width: 8.33333%;
        flex-basis: 8.33333%;
    }
}

::-webkit-scrollbar {
    width: 14px;
    background-color: #f4f4f4;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    background-color: #0000;
    border-radius: 7px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border: 3px solid #fff;
    border-radius: 16px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
    border: 3px solid #f4f4f4;
}
::-webkit-scrollbar-track:hover {
    background-color: #f4f4f4;
}

.footer-padding {
    padding: calc(2.5rem);
}

.transition-spport {
    transition: transform 0.3s ease-in 0s;
}

/* used in CategorySection component */
.parent:hover .child {
    transform: translateX(-0.125rem);
}

.header-animation {
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: none;
}

.slidersCategories-transition {
    transition: opacity 0.7s cubic-bezier(0.5, 0, 0, 1) 0s;
}

.slidersCategories-transform {
    transform: translate3d(0px, 0px, 0px);
}

.restaurantSections-button-transition {
    transition: all 500ms ease-in-out 0s;
}

.address-modal-card-animation {
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: gilGRO;
}

.address-modal-card-animation2 {
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.4, 0, 0, 1.5);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: cdxymQ
}